.App {
  text-align: center;
  background-color: eggshell;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

div.backgroundLogo {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("./picts/lineup.jpg");
}

.App-header {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.homepage {
  width: 50%;
  margin: 0 auto;
}

.navi {
  background-color: red;
  text-decoration: none;
  margin: 2%;
  max-width: 20%;
  color: green;
  text-shadow: green 1px 1px;
}

header {
  max-width: 95%;
  margin: 0 auto;
  border: red 5px solid;
  display: flex;
}

.bio {
  display: flex;
  background-color: aliceblue;
  max-width: 90%;
  margin: 0 auto;
}

.bio-info {
  padding: 5%;
  justify-content: space-around;
  padding: 5%;
  text-align: center;
}

.bio p {
  justify-content: center;
  padding: 5%;
  width: 90%;
}

.bio img {
  width: 60%;
  height: 25vh;
  padding: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 800px) {
  body {
    background-color: antiquewhite;
  }
  .bio {
    flex-direction: column;
    background-color: aqua;
  }
}
